/* RESET */
/* Nous cassons (reset) l'effet d'héritage pour toutes les balises susceptibles d'être concernées */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,b, u, i, center, dl, dt, dd, ol, ul, li,fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration: none;
	box-sizing: border-box;
}

/* COULEURS */
:root {
	--primary-color: #fafafa;
	--secondary-color: #7a78ff;
	--accent-color: #ff6d38;
	--heading-color: #333;
	--light-color: #f9f9f9;
	--dark-color: #333;
  
	--btn-primary-bg: #333;
	--btn-secondary-bg: #8584ff;
	--btn-accent-bg: #ffc412;
	--btn-primary-hover-bg: #e74c3c;
	--btn-secondary-hover-bg: #333;
	--btn-accent-hover-bg: #8584ff;
  
	--font-family-heading: 'Amatic SC', sans-serif;
	--font-family-body: "Roboto", sans-serif;
	--border-radius: 8px;
  
	--shadow-sm: 0 2px 5px rgba(0, 0, 0, 0.1);
	--shadow-md: 0 3px 10px rgba(0, 0, 0, 0.1);
	--shadow-lg: 0 5px 15px rgba(0, 0, 0, 0.1);
	--shadow-xl: 0 5px 15px rgba(0, 0, 0, 0.2);
  
	--section-margin: 2rem 0;
	--container-width: 90%;
  }

  /* STYLES GENERAUX */
  html, body {
	background-color: var(--light-color);
    height: 100%;
    margin: 0;
	padding-bottom: 40px;
}
  body{
	font-family: var(--font-family-body);
	font-size: 1em;
	box-sizing: border-box;
	padding-bottom: 80px;
  }

  .flex-column{
	display: flex;
	flex-direction: column;
  }
  h1{
	font-family: var(--font-family-heading);
	font-size: 4em;
	font-weight: bold;
	margin: 2em, 0;
  }
  h2{
	font-family: var(--font-family-heading);
	font-size: 3em;
	font-weight: bold;
	margin: 2em, 0;
  }
  h3{
	font-family: var(--font-family-heading);
	color: var(--secondary-color);
	font-size: 1.5em;
	margin-bottom: 0.25em;
  }
  p{
	margin: 1em;
	color: var(--dark-color);
  }
  a {
	color: black;
  }
  .blocs{
	margin: 1em 5.5em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
  
  /* BOUTONS */
  button{
	height: 45px;
	padding: 0.5em;
	border-radius: 15px;
  }
button#profils{
	background-color: var(--btn-primary-bg);
	color: var(--primary-color);
	border-radius: 15px;
	margin: 1em;
}
button#profils:hover{
	background-color: var(--btn-primary-hover-bg);
}
button.donation{
	background-color: var(--btn-secondary-bg);
	color: var(--primary-color);
	border-radius: 15px;
	border: Opx solid var(--btn-secondary-bg);
	margin: 1em;
}
button.donation:hover{
	background-color: var(--btn-secondary-hover-bg);
}
button.volunteer{
	background-color: var(--btn-accent-bg);
	color: var(--primary-color);
	border-radius: 15px;
	border: Opx solid var(--btn-accent-bgg);
	margin: 1em;
}
button.volunteer:hover{
	background-color: var(--btn-accent-hover-bg);
}
button.black{
	background-color: var(--btn-primary-bg);
	color: var(--primary-color);
	border-radius: 15px;
	border: Opx solid var(--btn-primary-bg);
	margin: 1em;
}
button.black:hover{
	background-color: var(--btn-primary-hover-bg);
}

  /* HEADER */
  header{
	min-height: 4.25rem;
	background-color: rgb(243, 240, 240);
	/* background-color: var(--light-color); */
	display: flex;
	flex-direction: row;
	justify-content:space-around;
	align-items: center;
	font-family: "Roboto", sans-serif;
  }
  #logo{
	width: 15%;
	margin-right: 2.5em;
  }
  #logo p{
	font-size :1.5em;
	font-weight: bold;
	margin-left: 0.45em;
  }
  #logo p span{
	color: var(--secondary-color);
  }
  #navbar{
	width: 70%;
	display: flex;
	flex-direction: row;
	justify-content:space-around;
	align-items:baseline;
  }
  #navbar ul{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
  }
  #navbar ul li{
	list-style-type: none;
	align-items: center;
	padding : 1em;
  }

  #navbar li a{
	display: inline-block;
    text-decoration: none;
	font-family: var(--font-family-body);
	border-bottom: 2px solid transparent;
    padding: 10px 0px;
}


/* SECTION ACCUEIL */
#accueil{
	position: relative;
	color: white;
	text-align: center;
	min-height:55vh;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#accueil img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}
#hero{
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 2em;
	z-index: 5;
}
#hero p{
	color: white;
}

#accueil p{
	margin: 1em 0;
	padding: 2em;
	line-height: 1.5;
}
/* FORMULAIRE RECHERCHE */
#recherche{
	position: absolute;
	width: 65%;
	bottom: -3.5em;
	background-color: white;
	box-shadow: var(--shadow-xl);
	padding : 2em;
	z-index: 1;
	border-radius: 15px;
	color: black;
}
#recherche form{
	display: flex;
	align-items: flex-start;
	gap: 2.5em;
}
.form-group{
	display: flex;
	flex-direction: column;
}
.form-group label{
	margin-bottom: 0.3em;
	text-align: left;
}
#btn-searchForm{
	width: 50%;
}
/* SECTION PERSONNALITES */

main{
	margin-top: 5em;
	min-height: 300px;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#persons{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
/* mosaïque photos */
#mosaique {
	width: 70%;
	display: grid;
	grid-template-columns: repeat(4, 1fr); /* 4 colonnes de largeur égale */
	/* grid-auto-rows: 150px; */
	gap: 10px;
  }
  .photo-item {
	border-radius: 8px;
	overflow: hidden;
  }
  .photo-item img {
	width: 100%;
	height: 100%; /* Important pour que l'image remplisse la cellule */
	object-fit: cover; /* Empêche la déformation de l'image */
	border-radius: 8px;
  }

/* Les photos qui sont deux fois plus hautes (occupent deux lignes de hauteur) */
/* Les autres photos (2, 3, 6, 7) occuperont automatiquement 1 ligne */

/* Photo 1 : colonne 1, hauteur double */
.photo-item:nth-child(1) {
	grid-column: 1;
	grid-row: span 2;
}
/* Photo 2 : colonne 1, en dessous de la 1 */
.photo-item:nth-child(2) {
	grid-column: 1;
	grid-row: 3;
}
/* Photo 3 : colonne 2, ligne 1 */
.photo-item:nth-child(3) {
	grid-column: 2;
	grid-row: 1;
}
/* Photo 4 : colonne 2, hauteur double */
.photo-item:nth-child(4) {
	grid-column: 2;
	grid-row: 2 / span 2;
  }
/* Photo 5 : colonne 3, hauteur double */ 
.photo-item:nth-child(5) {
	grid-column: 3;
	grid-row: span 2;
}
/* Photo 6 : colonne 3, en dessous de la 5 */
.photo-item:nth-child(6) {
	grid-column: 3;
	grid-row: 3;
}
/* Photo 7 : colonne 4, ligne 1 */
.photo-item:nth-child(7) {
	grid-column: 4;
	grid-row: 1;
}
/* Photo 8 : colonne 4, hauteur double */
.photo-item:nth-child(8) {
grid-row: span 2;
grid-column: 4;
}

/* COMMENT CA MARCHE */
#how{
	text-align: center;
	background-color: white;
	padding: 3.5em;
}
#cards{
	display: flex;
	flex-direction: row;
	justify-content:space-around;
	align-items: stretch; /* Étire les éléments enfants sur l'axe transversal */
}
.card{
	border-radius: 15px;
	box-shadow: var(--shadow-lg);
	width: 20%;
}
.card p:first-child{
	font-size: 2em;
}
.card-title{
	font-weight: bold;
}

/* CALL-TO-ACTION */
#CTA{
	padding: 6em 8em 4em 8em;
	text-align: center;
}
/* #call{
	margin: 1em 5.5em;
} */
#btn-CTA{
	display: flex;
	flex-direction: row;
	justify-content:space-evenly;

}
/* FOOTER */

  footer{
	/* position: fixed; */
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 10px;
	background-color: var(--dark-color);
	color : var(--light-color);
	font-size : 1em;
	box-sizing: border-box; /* Important pour que le padding n'affecte pas la largeur totale */
  }
  footer p{
	color: white;
  }
  #footer{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items:baseline;
	padding: 1em 2em;
  }
  #footer .footer {
	flex: 1; /* Chaque div prendra une part égale de l'espace disponible */
	padding: 0.5em;
  }
  #footer li{
	list-style-type: none;
	padding: 0.5em;
  }
  #footer p{
	line-height: 1.5em;
	color: white;
  }
  #legal{
	text-align: center;
	padding: 1em;
	border-top: 1px solid grey;
	color: white;
  }
  #legal

